# ── Secrets ──────────────────────────────────
.env

# ── Python ───────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/

# ── Logs ─────────────────────────────────────
logs/
*.log

Notebook_test/test_graph
Notebook_test/test_graph/*
# ── Data ─────────────────────────────────────
ingestion/python/results/
ingestion/raw/          


# ── Docker ───────────────────────────────────
docker-compose.override.yml

# ── Streamlit ───────────────────────────────────
docker-compose.override.yml
.streamlit/secrets.toml

# ── OS ───────────────────────────────────────
.DS_Store
Thumbs.db

# ── IDE ──────────────────────────────────────
.vscode/
.idea/
*.swp